.product-card {
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #cccccc;
    margin: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

.product-card img {
    height: 60%;
    width: 100%;
    transition: 400ms;
    object-fit: contain;
}

.product-card:hover img {
    scale: 150%;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.product-price {
    font-size: 16px;
}